.header{
	margin-bottom: 10px;
	margin-top: 10px;
}

.content{
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	justify-content: center;
}

.card{
	margin: auto;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.list-group{
	width: 50%;
}