<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Group #15 project 3</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='javascript/sortTable.js') }}"></script>
	</head>
	<body>
	
	<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Group 15</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('base')}}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('books')}}">Books</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('about')}}">About</a>
			</li>
		</ul>
	</nav>
	 <!--
	<div class="container-fluid header" style="margin-left:10%">
		<h1> About </h1>         
	</div>
	-->
	<div class="content" style="margin-top:20px">
		<div>
			<div class="container-fluid header text-center">
				<h2> Group </h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 card">
						<img class="card-img-top" src="/static/images/head mason m.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-center"> Mason Mooring </h5>
							<p> Junior Economics major with an interest in computer science.</p>
							<p> No of commits : 15</p>
							<p> No of issues : 6</p>
						</div>
					</div>

					<div class="col-sm-3 card">
						<img class="card-img-top" src="/static/images/head gen n.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-center"> Geneivie Nguyen </h5>
							<p> Junior Computational Chemistry major interested in medicine and music. </p>
							<p> No of commits : 26</p>
							<p> No of issues : 0</p>
						</div>
					</div>

					<div class="col-sm-3 card">
						<img class="card-img-top" src="/static/images/head cody p.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-center"> Cody Pahlon </h5>
							<p> Actuarial Science major graduating in May 2020. Interested in insurance and computer science.</p>
							<p> No of commits : 13</p>
							<p> No of issues : 13</p>
						</div>
					</div>

					<div class="col-sm-3 card">
						<img class="card-img-top" src="/static/images/head danika w.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-center"> Danika Widjaja </h5>
							<p> Biomedical Engineering student graduating in May 2020. Excited about the healthcare and tech industry. </p>
							<p> No of commits : 16</p>
							<p> No of issues : 21</p>
						</div>
					</div>

					<div class="col-sm-3 card">
						<img class="card-img-top" src="/static/images/head timothy z.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-center"> Timothy Zawistowski </h5>
							<p> Arts and Entertainment technology major, graduating fall of 2020. Looking forward to creating interactive experiences in the future. </p>
							<p> No of commits : 44</p>
							<p> No of issues : 5</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid center-text"> 
			<div class="header">
				<h2> Statistics </h2>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> Total no of commits : 113</li>
				<li class="list-group-item"> Total no of issues : 45</li>
				<li class="list-group-item"> <a href="https://gitlab.com/danikawidjaja/cs329e-idb/issues"> GitLab Issue Tracker </a> </li>
				<li class="list-group-item"><a href="https://gitlab.com/danikawidjaja/cs329e-idb"> GitLab Repo </a> </li>
				<li class="list-group-item"> <a href="https://gitlab.com/danikawidjaja/cs329e-idb/wikis/"> Gitlab Wiki </a> </li>
				<li class="list-group-item"> <a href="https://speakerdeck.com/danikawidjaja/group-number-15-project">Speaker Deck</a></li>
			</ul>
		</div>

		<div class="container-fluid content">
			<div class="header">
				<h2 > Data </h2>
			</div>
			<ul class='list-group list-group-flush'>
				<li class='list-group-item'> 
				<a href='http://www.cs.utexas.edu/~fares/cs329es19/CS%20373_files/tutorials/books.json'>Data Source</a> </li>
			</ul>
		</div>

		<div class="container-fluid content">
			<div class="header">
				<h2> Tools </h2>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"> Google Cloud Platform : Website hosting </li>
				<li class="list-group-item"> GitLab : Collaboration and code storage </li>
				<li class='list-group-item'> PostgreSQL : Relational database management </li>
				<li class='list-group-item'> SQLAlchemy : Python-based object relational mapper </li>
			</ul>
		</div>
		</br>
		<div class="container-fluid content">
			<div class="header">
				<h2><a href="{{url_for('test')}}">Run Unit Tests</a> </h2>
			</div>
		</div>

	</div>

