<html>
  <head>
    <title>{{author.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>

    </head>
  <body>
    
    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
	<li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
	</li>
	<li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
	</li>
	<li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
	</li>
	<li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>

    <div>

      {% if authors == [] %}
      <p>Author does not exist</p>
      {% else %}
      <h1>{{author.name}}</h1>

      <img src="{{author.image_url}}" style="width:25%">

    </div>

    <div>
      <br>
      <h3 style="font-size:25px">Descriptions</h3>
      <p>{{author.description}}</p>
    </div>

    <table style="width:100%">
      <tbody>
	<tr>
	  <th>Born </th>
	  <td>{{author.born}}</td>
	</tr>
	<tr>
	  <th>Alma Mater</th>
	  <td>{{author.almaMater}}</td>
	</tr>
	<tr>
	  <th>Nationality</th>
	  <td>{{author.nationality}}</td>
	</tr>
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
