<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <h1>Carl Bernstein</h1>
      <hr>
      <div class="col-sm-8">
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Carl_bernstein_2007.jpg/220px-Carl_bernstein_2007.jpg" style="width:25%">
      </div>
      <div class="col-sm-5">
      <br>
	  <h3 style="font-size:25px">Collaborations</h3>
	  <p>
	  Many people know All the President's Men as a film: a hit movie about the two young reporters who cracked the Watergate conspiracy. It's the only blockbuster that centers on two guys making phone calls, organizing paper notes and meeting a source called Deep Throat in a parking garage.
But before the movie, there was a book, which came out 40 years ago this month. In it, reporters Bob Woodward and Carl Bernstein tell the story of how they uncovered the scandal.
	  </p>
	<div class="container">
	  <h2 style="font-size:25px">Book Series</h2>
	  <div class="list-group">
	  
		<div class="row" style="background-color:Gainsboro;">
      <h3 class="list-group-item-heading">Political Works</h3>
      <p class="list-group-item-text"><a href="{{url_for('President')}}">All the President's Men</a>, A Women in Charge, The Fall of a President</p>
		</div>
		
		<div class="row" style="background-color:white;">
      <h3 class="list-group-item-heading">Other Works</h3>
      <p class="list-group-item-text">His Holiness, Loyalties: A Son's Memoir</p>
		</div>
		
	  </div>
      </div>
	  </div>
    </div>
    
  </body>
</html>
