<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Harry Potter and the Sorcerer's Stone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <h1>Harry Potter and the Sorcerer's Stone</h1>
      <h4>By: 
	<a href="{{url_for('JKRowling')}}">J.K. Rowling</a>
      </h4>
      <hr>
      <div class="col-sm-8">
	<img class="HarryPotterImg" src="https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500" style="width:25%">
      </div>
      <div class="col-sm-5">
      <h3>Description</h3>
      <p>
	Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'. Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry. An incredible adventure is about to begin!
      </p>
      <br>
      <table style="width:100%">
	<tbody>
	  <tr>
	    <th>Author</th>
	    <td><a href="{{url_for('JKRowling')}}">J.K. Rowling</a></td>
	  </tr>
	  <tr>
	    <th>Publisher</th>
	    <td><a href="{{url_for('Pottermore')}}">Pottermore</a></td>
	  </tr>
	  <tr>
	    <th>Genre</th>
	    <td>Fantasy</td>
	  </tr>
	  <tr>
	    <th>Followed by</th>
	    <td>Harry Potter and the Chamber of Secrets</td>
	  </tr>
	</tbody>
      </table>
      </div>
    </div>
    
  </body>
</html>
