<!DOCTYPE html>
<html lang="en">
<head>
  <title>Group #15 project 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Group 15</a>
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('index')}}">Home</a>
			</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('books')}}">Books</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('about')}}">About</a>
		</li>
	</ul>
</nav>

<div class="container-fluid p-3">
	<div align="center" class="jumbotron">
		<h1>Group 15's Project 3 Website</h1>
		<p>Here we are making a database of books, their authors, and their publishers easily accessable</p>
	</div>   

	<div class="card-deck">
		<div class="card bg-light">
			<img src="/static/images/harry_potter_sc_cover.jpg" class="card-img-top"  alt="Book Cover">
			<div class="card-body text-center d-flex flex-column">
				<h1 class="card-title mt-auto">Books</h1>
				<a href="{{url_for('books')}}" class="stretched-link"></a>
			</div>
		</div>
		<div class="card bg-light">
			<img src="/static/images/brandon_sanderson.jpg" class="card-img-top"  alt="Book Cover">
			<div class="card-body text-center d-flex flex-column">
				<h1 class="card-title mt-auto">Authors</h1>
				<a href="{{url_for('authors')}}" class="stretched-link"></a>
			</div>
		</div>
		<div class="card bg-light">
			<img src="/static/images/simon_and_schuster_logo.jpg" class="card-img-top" alt="Book Cover">
			<div class="card-body text-center d-flex flex-column">
				<h1 class="card-title mt-auto">Publishers</h1>
				<a href="{{url_for('publishers')}}" class="stretched-link"></a>
			</div>
		</div>
	</div><!-- end card-deck-->
</div>
</body>
</html>