<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <h1>J.K. Rowling</h1>
      <hr>
      <div class="col-sm-8">
	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg" style="width:25%">
      </div>
      <div class="col-sm-5">
      <br>
	  <h3 style="font-size:25px">Collaborations</h3>
	  <p>
	  John Tiffany first met J.K. Rowling in 1995. One of the Edinburgh cafés in which she wrote Harry Potter was in the Traverse Theatre, where he worked. They were about to make it big – she in literature, he in theatre – but back then they were just strangers who exchanged the odd smile.
	  </p>
	<div class="container">
	  <h2 style="font-size:25px">Book Series</h2>
	  <div class="list-group">
	  
		<div class="row" style="background-color:Gainsboro;">
      <h3 class="list-group-item-heading">Harry Potter Universe</h3>
      <p class="list-group-item-text"><a href="{{url_for('HarryPotter')}}">The Sorcerer's Stone</a>, The Chamber of Secrets, The Prisoner of Azkaban, The Goblet of Fire, The Order of the Phoenix, The Half-Blood Prince, The Deathly Hallows</p>
		</div>
		
		<div class="row" style="background-color:white;">
      <h3 class="list-group-item-heading">Cormoran Strike Series</h3>
      <p class="list-group-item-text">The Cuckoo's Calling, The Silkworm, Career of Evil </p>
		</div>
		
		<div class="row" style="background-color:Gainsboro;">
      <h3 class="list-group-item-heading">Other Works</h3>
      <p class="list-group-item-text">The Casual Vacancy, Very Good Lives</p>

		</div>
	  </div>
      </div>
	  </div>
    </div>
    
  </body>
</html>


