<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mistborn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <h1>Mistborn</h1>
      <h4>By: 
	<a href="{{url_for('BSanderson')}}">Brandon Sanderson</a>
      </h4>
      <hr>
      <div class="col-sm-8">
	<img class="MistbornImg" src="https://books.google.com/books/content/images/frontcover/t_ZYYXZq4RgC?fife=w500" style="width:25%">
      </div>
      <div class="col-sm-5">
      <h3>Description</h3>
      <p>
	From #1 New York Times bestselling author Brandon Sanderson, the Mistborn series is a heist story of political intrigue and magical, martial-arts action. For a thousand years the ash fell and no flowers bloomed. For a thousand years the Skaa slaved in misery and lived in fear. For a thousand years the Lord Ruler, the Sliver of Infinity, reigned with absolute power and ultimate terror, divinely invincible. Then, when hope was so long lost that not even its memory remained, a terribly scarred, heart-broken half-Skaa rediscovered it in the depths of the Lord Ruler's most hellish prison. Kelsier snapped and found in himself the powers of a Mistborn. A brilliant thief and natural leader, he turned his talents to the ultimate caper, with the Lord Ruler himself as the mark. Kelsier recruited the underworld's elite, the smartest and most trustworthy allomancers, each of whom shares one of his many powers, and all of whom relish a high-stakes challenge. Only then does he reveal his ultimate dream, not just the greatest heist in history, but the downfall of the divine despot. But even with the best criminal crew ever assembled, Kel's plan looks more like the ultimate long shot, until luck brings a ragged girl named Vin into his life. Like him, she's a half-Skaa orphan, but she's lived a much harsher life. Vin has learned to expect betrayal from everyone she meets, and gotten it. She will have to learn to trust, if Kel is to help her master powers of which she never dreamed. This saga dares to ask a simple question: What if the hero of prophecy fails? The Cosmere The Mistborn series Mistborn: The Final Empire The Well of Ascension The Hero of Ages Alloy of Law Shadows of Self Bands of Mourning The Stormlight Archive The Way of Kings Words of Radiance Edgedancer (Novella) Oathbringer (forthcoming) Collection Arcanum Unbounded Other Cosmere Titles Elantris Warbreaker Rithmatist The Alcatraz vs. the Evil Librarians series Alcatraz vs. the Evil Librarians The Scrivener's Bones The Knights of Crystallia The Shattered Lens The Dark Talent The Reckoners Steelheart Firefight Calamity At the Publisher's request, this title is being sold without Digital Rights Management Software (DRM) applied.
      </p>
      <br>
      <table style="width:100%">
	<tbody>
	  <tr>
	    <th>Author</th>
	    <td><a href="{{url_for('BSanderson')}}">Brandon Sanderson</a></td>
	  </tr>
	  <tr>
	    <th>Publisher</th>
	    <td><a href="{{url_for('Palgrave')}}">Palgrave Macmillan</a></td>
	  </tr>
	  <tr>
	    <th>Genre</th>
	    <td>Fantasy</td>
	  </tr>
	  <tr>
	    <th>Followed by</th>
	    <td>Mistborn: The Well of Ascension</td>
	  </tr>
	</tbody>
      </table>
      </div>
    </div>
    
  </body>
</html>
