<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Palgrave Macmillan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <h1>Palgrave Macmillan</h1>
      <h4>
        Published:
        <a href = "{{url_for('Mistborn')}}">Mistborn: The Well of Ascension</a> by
	<a href="{{url_for('BSanderson')}}">Brandon Sanderson</a>
      </h4>
      <hr>
      <div class="col-sm-8">
	<img class="PalgraveImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Palgrave_Macmillan_Logo.svg/330px-Palgrave_Macmillan_Logo.svg.png" style="width:25%">
      </div>
      <div class="col-sm-5">
      <h3>Description</h3>
      <p>
        Palgrave Macmillan is an international academic and trade publishing company. Its programme includes textbooks, journals, monographs, professional and reference works in print and online. 
      </p>
      <br>
      <table style="width:100%">
	<tbody>
    <tr>
      <th>Founded</th>
      <td>2000</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>London, England</td>
    </tr>
    <tr>
      <th>Website</th>
      <td><a href="https://www.palgrave.com">Palgrave Macmillan</a></td>
	  </tr>
    <tr>
      <th>Parent Company</th>
      <td>Springer Nature</td>
    </tr>
  </tbody>
      </table>
      </div>
    </div>
    
  </body>
</html>
