<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All the President's Men</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <h1>All the President's Men</h1>
      <h4>By: 
	<a href="{{url_for('BWoodward')}}">Bob Woodward</a> and <a href="{{url_for('CBernstein')}}">Carl Bernstein</a>
      </h4>
      <hr>
      <div class="col-sm-8">
	<img class="PresidentImg" src="https://books.google.com/books/content/images/frontcover/Wpjqz9x2cJQC?fife=w500" style="width:25%">
      </div>
      <div class="col-sm-5">
      <h3>Description</h3>
      <p>
	It began with a break-in at the Democratic National Committee headquarters in Washington DC, on 17 June 1972. Bob Woodward, a journalist for the Washington Post, was called into the office on a Saturday morning to cover the story. Carl Bernstein, a political reporter on the Post, was also assigned. They soon learned this was no ordinary burglary. Following lead after lead, Woodward and Bernstein picked up a trail of money, conspiracy and high-level pressure that ultimately led to the doors of the Oval Office. Men very close to the President were implicated, and then Richard Nixon himself. Over a period of months, Woodward met secretly with Deep Throat, for decades the most famous anonymous source in the history of journalism. As he and Bernstein pieced the jigsaw together, they produced a series of explosive stories that would not only win the Post a Pulitzer Prize, they would bring about the President's scandalous downfall. ALL THE PRESIDENT'S MEN documents this amazing story. Taut, gripping and fascinating, it is a classic of its kind -- the true story of the events that changed the American presidency.
      </p>
      <br>
      <table style="width:100%">
	<tbody>
	  <tr>
	    <th>Author</th>
	    <td><a href="{{url_for('BWoodward')}}">Bob Woodward</a> and <a href="{{url_for('CBernstein')}}">Carl Bernstein</a></td>
	  </tr>
	  <tr>
	    <th>Publisher</th>
	    <td><a href="{{url_for('SS')}}">Simon & Schuster</a></td>
	  </tr>
	  <tr>
	    <th>Genre</th>
	    <td>Non-fiction</td>
	  </tr>
	  <tr>
	    <th>Followed by</th>
	    <td>The Final Days</td>
	  </tr>
	</tbody>
      </table>
      </div>
    </div>
    
  </body>
</html>
