<!DOCTYPE html>
<html lang="en">
<head>
  <title>Group #15 project 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- MDBootstrap Datatables  -->
  <link href="url_for('static', filename='css/addons/datatables.min.css')}}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/sortTable.js') }}"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/addons/datatables.min.js')}}"></script>
  
</head>
<body>
	<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="#">Group 15</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('base')}}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('books')}}">Books</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('about')}}">About</a>
			</li>
		</ul>
	</nav>
  

		<div class="container-fluid header">
		  <h1> Publishers </h1>         
		</div>
		<div class="container-fluid content">
			<table class="table table-striped" id='table'>
				<!-- Table Header -->
				<thead>
					<tr>
						<th onclick="sortTable(0)"> Name </th>
						<th onclick="sortTable(1)"> Location </th>
						<th onclick="sortTable(2)"> Founded </th>
						<th onclick="sortTable(3)"> Website </th>
						<th onclick="sortTable(4)"> Description </th>
					</tr>
				</thead>

				<!-- Table Entry -->
				<tbody>
				  {% if publishers == [] %}
				  <p> No authors exist</p>
				  {% else %}
				  {% for i in publishers %}
				  <tr>
				    <td><a href="{{url_for('publisher', name_publisher = i.name)}}">{{i.name}}</a></td>
				    <td>{{i.location}}</td>
				    <td>{{i.founded}}</td>
				    <td>{{i.website}}</td>
				    <td>{{i.description}}</td>
				  </tr>
				  {% endfor %}
				  {% endif %}
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
		  $(document).ready(function (){
		  $('#table').DataTable();
		  $('.dataTables_length').addClass('bs-select');
		  })
		</script>
	</body>
</html>
