<!DOCTYPE html>
<html lang="en">
<head>
  <title>Group #15 project 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- MDBootstrap Datatables  -->
  <link href="url_for('static', filename='css/addons/datatables.min.css')}}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/sortTable.js') }}"></script>
  <!-- MDBootstrap Datatables  -->
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/addons/datatables.min.js')}}"></script>

</head>
<body>
	<nav class = "navbar navbar-expand-sm bg-dark navbar-dark" style='justify-content:space-between;'>
	<div style='display: flex; flex-direction: row'>
		<a class="navbar-brand" href="#">Group 15</a>
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('base')}}">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('books')}}">Books</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{url_for('about')}}">About</a>
			</li>
		</ul>
	</div>
	<div id='submit'>
	<form class='form-inline my-2 my-lg-0' >
		<input class='form-control mr-sm-2' type='search' placeholder="Search..." aria-label='Search' id='search'>
		<button class='btn btn-outline-success my-2 my-sm-0' type='submit' id='submit_btn'>Search</button>
	</form>
	</div>
</nav>

<div class="container-fluid header">
  <h1> Search Results for {{prompt}} </h1>         
</div>


	<ul class='nav nav-tabs' id='nav-tab' role='tablist'>
		<li class="nav-item">
			<a class="nav-link active" data-toggle='tab' href='#books'>Books</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle='tab' href='#authors'>Authors</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle='tab' href='#publishers'>Publishers</a>
		</li>
		
	</ul>

<div class="tab-content">
	<div class="tab-pane active" id="books" role="tabpanel">
		<div class="container-fluid content">
			<table class="table table-striped" id='books_table'>
				<!-- Table Header -->
				<thead>
					<tr>
						<th onclick="sortTable(0)"> Title </th>
						<th onclick="sortTable(1)"> Author </th>
						<th onclick="sortTable(2)"> Publisher </th>
						<th onclick="sortTable(3)"> ISBN </th>
						<th onclick="sortTable(4)"> Publication Date </th>
					</tr>
				</thead>

				<!-- Table Entry -->

				<tbody>
				  {% if books == [] %}
				  <p>No books exist</p>
				  {% else %}
				  {% for i in books %}
				  <tr>
				    <td><a href="{{url_for('book', book_title = i.title)}}">{{i.title}}</a></td>
				    <td>{{i.author|join(', ')}}</td>
				    <td>{{i.publisher|join(', ')}}</td>
				    <td>{{i.ISBN}}</td>
				    <td>{{i.publicationDate}}</td>
				  </tr>
				  
				  {% endfor %}
				  {% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="tab-pane" id="authors" role="tabpanel">
		<div class="container-fluid content">
			<table class="table table-striped" id='authors_table'>
				<!-- Table Header -->
				<thead>
					<tr>
						<th onclick="sortTable(0)"> Name </th>
						<th onclick="sortTable(1)"> Born </th>
						<th onclick="sortTable(2)"> Nationality </th>
						<th onclick="sortTable(3)"> Alma Mater </th>
						<th onclick="sortTable(4)"> Description </th>
					</tr>
				</thead>

				<!-- Table Entry -->
				<tbody>
				  {% if authors == [] %}
				  <p> No authors exist</p>
				  {% else %}
				  {% for i in authors %}
				  <tr>
				    <td><a href="{{url_for('author', name_author = i.name)}}">{{i.name}}</a></td>
				    <td>{{i.born}}</td>
				    <td>{{i.nationality}}</td>
				    <td>{{i.almaMater}}</td>
				    <td>{{i.description}}</td>
				  </tr>
				  {% endfor %}
				  {% endif %}
				</tbody>
			</table>
		</div>
	</div>


	<div class="tab-pane" id="publishers" role="tabpanel">
		<div class="container-fluid content">
			<table class="table table-striped" id='publishers_table'>
				<!-- Table Header -->
				<thead>
					<tr>
						<th onclick="sortTable(0)"> Name </th>
						<th onclick="sortTable(1)"> Location </th>
						<th onclick="sortTable(2)"> Founded </th>
						<th onclick="sortTable(3)"> Website </th>
						<th onclick="sortTable(4)"> Description </th>
					</tr>
				</thead>
				<!-- Table Entry -->
				<tbody>
				  {% if publishers == [] %}
				  <p> No authors exist</p>
				  {% else %}
				  {% for i in publishers %}
				  <tr>
				    <td><a href="{{url_for('publisher', name_publisher = i.name)}}">{{i.name}}</a></td>
				    <td>{{i.location}}</td>
				    <td>{{i.founded}}</td>
				    <td>{{i.website}}</td>
				    <td>{{i.description}}</td>
				  </tr>
				  {% endfor %}
				  {% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>

	<script type="text/javascript">
	var btn = document.getElementById("submit_btn");
	
	btn.addEventListener('click', function(e){
		e.preventDefault();
		var search = document.getElementById('search').value;
		var url = "{{url_for('search', prompt = 'placeholder')}}".replace('placeholder',search)
		location.href = url;
	})
	</script>
	<script type="text/javascript">
		  $(document).ready(function (){
		  $('#publishers_table').DataTable();
		  $('.dataTables_length').addClass('bs-select');
		  })

		  $(document).ready(function (){
		  $('#books_table').DataTable();
		  $('.dataTables_length').addClass('bs-select');
		  })

		  $(document).ready(function (){
		  $('#authors_table').DataTable();
		  $('.dataTables_length').addClass('bs-select');
		  })
	</script>
</body>