<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simon & Schuster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sortTable.js')}}"></script>
  </head>
  <body>

    <nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Group 15</a>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('base')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('books')}}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
      </ul>
    </nav>
    
    <div class="container-fluid">
      <h1>Simon & Schuster</h1>
      <h4>
        Published:
        <a href = "{{url_for('President')}}">All the President's Men</a> by
	<a href="{{url_for('BWoodward')}}">Bob Woodward</a> and <a href="{{url_for('CBernstein')}}">Carl Bernstein</a>
      </h4>
      <hr>
      <div class="col-sm-8">
	<img class="SSImg" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Simon_and_Schuster.svg/200px-Simon_and_Schuster.svg.png" style="width:25%">
      </div>
      <div class="col-sm-5">
      <h3>Description</h3>
      <p>
        Simon & Schuster, Inc., a division of CBS Corporation, is a publisher founded in New York City in 1924 by Richard L. Simon and M. Lincoln Schuster. It is one of the largest English-language publishers, formerly known as the "Big 6", now known as the "Big Five". It publishes over 2,000 titles annually under 35 different imprints.
      </p>
      <br>
      <table style="width:100%">
	<tbody>
	  <tr>
	    <th>Founded</th>
	    <td>1924</td>
	  </tr>
	  <tr>
	    <th>Location</th>
	    <td>1230 Avenue of the Americas Rockefeller Center, New York City, New York</td>
	  </tr>
	  <tr>
      <th>Website</th>
      <td><a href = "https://simonandschuster.com"> Simon & Schuster</a></td>
	  </tr>
    <tr>
      <th>Parent Company</th>
      <td>CBS Corporation</td>
    </tr>
  </tbody>
      </table>
      </div>
    </div>
    
  </body>
</html>
